extends layout.pug

block social-tags
  meta(name="twitter:card" content="summary_large_image")
  meta(name="twitter:site" content="@rbb24")
  meta(name="twitter:image" content=imgUrl)
  meta(property="og:site_name" content="rbb|24")
  meta(property="og:locale" content="de_DE")
  meta(property="og:url" content=sharingIdentifier)
  meta(property="og:type" content="article")
  meta(property="og:title" content=title)
  meta(property="og:description" content=description)
  meta(property="og:image" content=imgUrl)
  meta(property="og:image:width" content="1200")
  meta(property="og:image:height" content="630")
